NODE_ENV=development

# GOOGLE ANALYTICS
# Copiez ici l'ID de mesure (formaté comme G-XXXXXXXXXX)
# NEXT_PUBLIC_GOOGLE_ANALYTICS=G-XXXXXXXXXX 

# DATABASE
DB_HOST=localhost
DB_USER=dbusername
DB_PASSWORD=dbpassword
DB_NAME=dbname
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}